  *{
    padding:0;
    margin: 0;
  }
  

  .topinformation{
    display: flex;
    flex-direction: column;
    align-items: left;


    
  }
  .moreinfo{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: 50px;
    
  }
  .Workexperience{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .Workexperience h2 {
    font-size: 17;
    font-family: sans-serif;
  }

  

.Reference{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  .CallCenterInternationalOctober2022April2023 .IworkerJanuary2021toNovember2023 .CallCenterInternationalOctober2022April2023{
    font-weight: bold;
    font-size: 30;
    font-family: sans-serif;

  }
