  *{
    padding:0;
    margin: 0;
  }
  

  .topinformation{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin:0 auto;
    width: 60%;
    height: auto;
    border: 2px solid black;

    
  }
  .moreinfo{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-left: 50px;
    
  }
  .Workexperience{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .Workexperience h2 .Education h3 .Reference h4{
    font-size: 20;
    font-family: sans-serif;
  }
  

.Reference{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  .CallCenterInternationalOctober2022April2023 .IworkerJanuary2021toNovember2023 .CallCenterInternationalOctober2022April2023{
    font-weight: bold;
    font-size: 30;
    font-family: sans-serif;

  }
